{% load static %}
<aside class="navbar-aside" id="offcanvas_aside">
    {% comment %} <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="{% static 'adminassets/imgs/theme/logo.svg' %}" class="logo" alt="PlanterDream Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div> {% endcomment %}
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
               
                <a class="menu-link" href="{% url 'Adminapp:admin_dashboard' %}">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a> 
              
            </li>
            
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> 
                    <span class="text">Categories</span>
                </a>
                <div class="submenu">
                    <a  href="{% url 'Adminapp:add_category' %}">Add Categories
                        <i class="icon material-icons md-add_box"></i>
                    </a>   
                   
                    <a  href="{% url 'Adminapp:list_categories' %}">
                        <span class="text">list  Category</span>
                    </a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> 
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a  href="{% url 'Adminapp:add_product' %}">Add Products
                        <i class="icon material-icons md-add_box"></i>
                    </a>   
                   
                    <a  href="{% url 'Adminapp:list_products' %}">
                        <span class="text">list  Products</span>
                    </a>
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> 
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a  href="{% url 'Adminapp:orderlist' %}">OrderList
                        
                    </a>   
                   
                    
                </div>
            </li>
           
            
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Sellers</span>
                </a>
               
            </li>
            
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
                {% comment %} <div class="submenu">
                    <a href="page-transactions-1.html">Transaction 1</a>
                    <a href="page-transactions-2.html">Transaction 2</a>
                </div> {% endcomment %}
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
                <div class="submenu">
                    <a href="{% url 'Adminapp:list_users' %}">User List</a>
                    <a href="{% url 'Accountsapp:user_login' %}" >User Login</a>
                    <a href="{% url 'Accountsapp:Register' %}" > User Register</a>
                    
                    <a href="page-error-404.html">Error 404</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li>
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text"> Starter page </span>
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>
